head

body
  block content
    if user
        p#username You are currently logged in as #{user.username}
    #container
  block scripts
    script(src='http://code.jquery.com/jquery.js')
    script(src='/public/vendor/three.min.js')
    script(src='/public/vendor/Detector.js')
    script(src='/public/vendor/OrbitControls.js')
    script(src='/public/vendor/tween.js')
    script(src='/public/vendor/socket.io-1.2.0.js')
    script(src='/public/js/game.js')

