head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type='text/css').
           body {
                margin: 0;
            }
body
  block content
    #container
  
  block scripts
    //local development
    script(src='http://code.jquery.com/jquery.js')
    script(src='/vendor/three.min.js')
    script(src='/vendor/Detector.js')
    script(src='/vendor/OrbitControls.js')
    script(src='/vendor/tween.js')
    script(src='/vendor/socket.io-1.3.5.js')
    script(src='/js/game.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(type='text/javascript').
        var localMatch = !{JSON.stringify(match)}
        var localUser = !{JSON.stringify(user)}
    script#sky-vertex(type='application/x-glsl')
        include ../public/shaders/sky-vertex.glsl
    script#sky-fragment(type='application/x-glsl')
        include ../public/shaders/sky-fragment.glsl

    block jqueryDialog
    #dialog(title='Game Over')
        p#parag

//
    nginx for production
    script(src='http://code.jquery.com/jquery.js')
    script(src='/public/vendor/three.min.js')
    script(src='/public/vendor/Detector.js')
    script(src='/public/vendor/OrbitControls.js')
    script(src='/public/vendor/tween.js')
    script(src='/public/vendor/socket.io-1.2.0.js')
    script(src='/public/js/game.js')

