extends layout

block content
  .container
    -if (user)
      br
      p You are currently logged in as #{user.username}
      br

    form#new_message(method='get', action='/hotseat', type='submit')
      input#message_submit(type='submit', value='Hot Seat', name='commit') 

    -if (!user)
      br
      input#notUser(type='submit', value='Find match', name='commit')
      br
      br
      input#notUser2(type='button', value='Challenge a friend*', name='somethingelse')
      br
   

    -if (user)
      br
      form#new_message(method='get', action='/sendchallenge', type='submit')
        input#message_submit(type='submit', value='Send a challenge', name='commit') 

      br
      form#randomQ(method='get', action='/randomqueue', type='submit')
        input#randomQueue(type='submit', value='Find match', name='randomqueue')
      br
      
  //
    .messagepop.pop
      p Searching for opponent
        a.close(href='/') Cancel
    a#contact(href='/contact') Find a opponent