extends layout

block content
  .container
    h1 Register
    p.lead Remember to not use the same username and password for all of your internet presence.
    br
    form(role='form', action="/register",method="post", style='width: 100%;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      br
      button.btn.confirm(type='submit', style='width: 100%;') Register
      &nbsp;
      a(href='/')
        button.btn.cancel(type="button", style='width: 100%;') Cancel
    br
    h4= info