/*
#7EC0EE//blue
#E47EEE //purple
#EEAC7E //orange/brownish
#88EE7E //green;
*/
body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#7EC0EE; 
}
h1 {
text-align: center;

}
.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

input    {
	width:100%;
	display:inline;
	border: 1px solid #999;
	height: 100px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	background-color:#EEAC7E;
}
input.dividedInput    {
	width:25%;
	display:inline;
	border: 1px solid #999;
	height: 100px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input.accept    {
	width:50%;
	display:inline;
	border: 1px solid #999;
	background-color: #33FF66;
	height: 100px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input.challenge    {
	width:100%;
	display:inline;
	border: 1px solid #999;
	height: 100px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input.decline    {
	width:50%;
	display:inline;
	border: 1px solid #999;
	background-color: #B33A3A;
	height: 100px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

form.topNav {
	display:inline;
}

p.myFoot {
	text-align: center;
	font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #EEAC7E;
}
a.myFoot{
	color: #000000;
}
a.mail{
	font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
	color:black;
}
a.aboutLink{
	font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	font-weight:bold;
	color:#88EE7E;
	width: 100%;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

#dialog {
    display:none;
}
.myTarget {
    font-weight:bold;
    font-style:italic;
    color:red;
}


/*
form    {
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin:auto;
	position:relative;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

a {
  	color: #00B7FF;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}
a.close {
	padding-right: 5px;
  z-index:100;
}
a.test {
	color: #000000;
}
p.lead {
	text-align:center;
}

*/

#oldie { background-color: #ddd !important }